@charset "UTF-8";
.main-info,
.contentWrap .content_main .content_main-sales .content_main-info > p,
.contentWrap .content_main .content_main-phone .content_main-info > p,
.contentWrap .content_main .content_main-parts .content_main-info p {
  color: #333;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  padding: 38px 0 25px 0;
}
.box,
.contentWrap .content_main .content_main-sales .sales-list li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 0;
  text-align: center;
  background-color: #fff;
  transition: all 0.2s linear;
}
.box-name,
.contentWrap .content_main .content_main-phone .phone-list li p:nth-of-type(1),
.contentWrap .content_main .content_main-parts .parts-list li p:nth-of-type(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  padding-top: 16px;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.box-feature,
.contentWrap .content_main .content_main-phone .phone-list li p:nth-of-type(2),
.contentWrap .content_main .content_main-parts .parts-list li p:nth-of-type(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 15px 40px;
  height: 24px;
  color: #333;
  font-size: 12px;
  line-height: 24px;
}
.box-price,
.contentWrap .content_main .content_main-phone .phone-list li p:nth-of-type(3),
.contentWrap .content_main .content_main-parts .parts-list li p:nth-of-type(3) {
  color: #f51919;
  font-size: 16px;
  line-height: 1;
}
.box-price i {
  margin-right: 2px;
  color: #f51919;
  font-size: 14px;
  font-family: "Avenir Roman", "Microsoft YaHei", "微软雅黑";
}
.shadows,
.contentWrap .content_main .content_main-sales .sales-list li:hover,
.contentWrap .content_main .content_main-phone .phone-list li:hover,
.contentWrap .content_main .content_main-parts .parts-list li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.contentWrap {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 30px;
}
.contentWrap .content_top {
  width: 100%;
  text-align: justify;
  padding-bottom: 50px;
}
.contentWrap .content_top .content_top-box {
  width: 293px;
  margin-right: 4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 0;
  text-align: center;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.contentWrap .content_top .content_top-box:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.contentWrap .content_top .content_top-box a > img {
  width: 293px;
  height: 140px;
}
.contentWrap .runtime {
  width: 100%;
  height: 32px;
  display: flex;
  padding-bottom: 25px ;
  position: relative;
}
.contentWrap .runtime .runtime_logo {
  width: 82px;
  height: 26px;
}
.contentWrap .runtime p {
  margin-left: 10px;
  font-size: 16px;
  color: #999;
}
.contentWrap .runtime p .time_hour {
  display: inline-block;
  border-radius: 3px;
  width: 38px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #EC0404;
  font-size: 18px;
  color: #fff;
  margin: 0 6px;
}
.contentWrap .runtime .more-wrapper {
  position: absolute;
  right: 0;
  bottom: 30px;
}
.contentWrap .runtime .more-wrapper a {
  margin-left: 22px;
  color: #333;
  font-size: 14px;
  line-height: 1;
}
.contentWrap .runtime .more-wrapper a:hover {
  color: red;
}
.contentWrap .purchase {
  width: 1200px;
  height: 390px;
  position: relative;
  padding-bottom: 10px;
}
.contentWrap .purchase .arrow_left {
  font-size: 34px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
}
.contentWrap .purchase .arrow_right {
  font-size: 34px;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
}
.contentWrap .purchase .purchaseWrap {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 390px;
}
.contentWrap .purchase .purchaseWrap .purchase-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 3000px;
  height: 100%;
}
.contentWrap .purchase .purchaseWrap .purchase-content li {
  width: 293px;
  height: 380px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 0;
  text-align: center;
  background-color: #fff;
  transition: all 0.2s linear;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .tags {
  position: absolute;
  right: 50px;
  top: 28px;
  width: 60px;
  height: 60px;
}
.contentWrap .purchase .purchaseWrap .purchase-content li a > img {
  width: 172px;
  height: 172px;
  margin-top: 41px;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info {
  padding: 0 20px;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info p {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info .name {
  padding-top: 16px;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info .desc {
  line-height: 17px;
  height: 17px;
  margin-top: 10px;
  font-size: 12px;
  color: #333;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info .price {
  margin-top: 20px;
  font-size: 22px;
  color: #f51919;
  line-height: 1;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info .price dfn {
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.contentWrap .purchase .purchaseWrap .purchase-content li .purchase-info .price span:nth-last-child(1) {
  margin-left: 6px;
  text-decoration: line-through;
  color: #aaa;
  font-size: 14px;
}
.contentWrap .content_main {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.contentWrap .content_main .content_main-sales .sales-list {
  display: inline-block;
  width: 100%;
  line-height: 0;
  text-align: justify;
}
.contentWrap .content_main .content_main-sales .sales-list li {
  margin-right: 5px;
  height: 511px;
  width: 394px;
}
.contentWrap .content_main .content_main-sales .sales-list li:nth-last-child(1) {
  margin-right: 0;
}
.contentWrap .content_main .content_main-sales .sales-list li a {
  display: block;
}
.contentWrap .content_main .content_main-sales .sales-list li a img {
  margin-top: 58px;
  width: 230px;
  height: 230px;
}
.contentWrap .content_main .content_main-sales .sales-list li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contentWrap .content_main .content_main-sales .sales-list li p:nth-of-type(1) {
  height: 30px;
  padding-top: 29px;
  font-size: 20px;
  color: #333;
  line-height: 30px;
}
.contentWrap .content_main .content_main-sales .sales-list li p:nth-of-type(2) {
  height: 24px;
  padding: 8px 50px 53px;
  font-size: 14px;
  line-height: 24px;
}
.contentWrap .content_main .content_main-sales .sales-list li p:nth-of-type(3) {
  font-size: 18px;
  color: #f51919;
  line-height: 1;
}
.contentWrap .content_main .content_main-sales .sales-list li p:nth-of-type(3) i {
  margin-right: 2px;
  color: #f51919;
  font-size: 14px;
  font-family: "Avenir Roman", "Microsoft YaHei", "微软雅黑";
}
.contentWrap .content_main .content_main-phone .phone-list li {
  width: 293px;
  height: 380px;
  margin-right: 5px;
}
.contentWrap .content_main .content_main-phone .phone-list li:nth-last-of-type(1) {
  margin-right: 0;
}
.contentWrap .content_main .content_main-phone .phone-list li:nth-of-type(3) {
  margin-right: 0;
}
.contentWrap .content_main .content_main-phone .phone-list li a {
  display: block;
}
.contentWrap .content_main .content_main-phone .phone-list li a img {
  margin-top: 43px;
  width: 172px;
  height: 172px;
}
.contentWrap .content_main .content_main-phone .phone-list li:nth-child(1) {
  width: 595px;
}
.contentWrap .content_main .content_main-phone .phone-list li:nth-child(1) img {
  width: 595px;
  height: 380px;
  margin-top: 0;
}
.contentWrap .content_main .content_main-parts {
  width: 1200px;
}
.contentWrap .content_main .content_main-parts .content_main-info {
  width: 100%;
  height: 87px;
  position: relative;
}
.contentWrap .content_main .content_main-parts .content_main-info .parts-more {
  position: absolute;
  right: 0;
  bottom: 30px;
}
.contentWrap .content_main .content_main-parts .content_main-info .parts-more li {
  float: left;
}
.contentWrap .content_main .content_main-parts .content_main-info .parts-more li a {
  margin-left: 22px;
  color: #333;
  font-size: 14px;
  line-height: 1;
}
.contentWrap .content_main .content_main-parts .content_main-info .parts-more li a:hover {
  color: red;
}
.contentWrap .content_main .content_main-parts .parts-list li {
  width: 293px;
  height: 380px;
  margin-right: 5px;
}
.contentWrap .content_main .content_main-parts .parts-list li:nth-last-of-type(1) {
  margin-right: 0;
}
.contentWrap .content_main .content_main-parts .parts-list li:nth-of-type(4) {
  margin-right: 0;
}
.contentWrap .content_main .content_main-parts .parts-list li a {
  display: block;
}
.contentWrap .content_main .content_main-parts .parts-list li a img {
  margin-top: 43px;
  width: 172px;
  height: 172px;
}
