@charset "tf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
u {
  text-decoration: none;
}
b,
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
}
img {
  display: block;
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
fieldset {
  border: none;
}
textarea {
  resize: none;
}
.bg_none {
  background: none!important;
}
.border_none {
  border: none!important;
}
.left {
  float: left;
}
.right {
  float: right;
}
body,
html {
  font-size: 12px;
  background: #f7f7f7;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
.banner {
  background: #b9d3f8;
  height: 780px;
  width: 100%;
}
.banner .banner_con {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.banner .banner_con .img_logo {
  position: absolute;
  top: 0;
  left: 243px;
  width: 145px;
  height: 52px;
  cursor: pointer;
}
.banner .banner_con .banner_box {
  width: 420px;
  height: 615px;
  position: absolute;
  top: 74px;
  right: 0;
  background: #fff;
  padding: 30px 30px 20px;
  text-align: center;
}
.banner .banner_con .banner_box .box_logo {
  width: 160px;
  height: 42px;
  display: inline-block;
}
.banner .banner_con .banner_box .span_1 {
  font-size: 19px;
  color: #000;
  margin-top: 15px;
  height: 30px;
  width: 360px;
  line-height: 30px;
  display: inline-block;
}
.banner .banner_con .banner_box .span_2 {
  display: inline-block;
  margin-top: 20px;
  width: 360px;
  height: 22px;
  text-align: right;
}
.banner .banner_con .banner_box .span_2 a {
  font-size: 14px;
  line-height: 22px;
  color: #456fff;
}
.banner .banner_con .banner_box .input {
  width: 360px;
  height: 48px;
  margin-top: 15px;
  border: 1px solid #dedfe0;
  padding-left: 10px;
  font-size: 16px;
  outline: none;
}
.banner .banner_con .banner_box .input::-webkit-input-placeholder {
  color: #aaa;
}
.banner .banner_con .banner_box .word_box {
  position: relative;
}
.banner .banner_con .banner_box .word_box .eye_box {
  position: absolute;
  right: 15px;
  top: 30px;
  width: 21px;
  height: 18px;
}
.banner .banner_con .banner_box .word_box .eye_box img {
  width: 100%;
  height: 100%;
}
.banner .banner_con .banner_box .check_box {
  width: 360px;
  height: 22px;
  margin-top: 19px;
}
.banner .banner_con .banner_box .check_box .check_l {
  float: left;
}
.banner .banner_con .banner_box .check_box .check_l a {
  color: #456fff;
  font-size: 14px;
  line-height: 22px;
}
.banner .banner_con .banner_box .check_box .check_r {
  float: right;
  color: #666;
  font-size: 14px;
  line-height: 22px;
  width: 121px;
}
.banner .banner_con .banner_box .check_box .check_r span {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 22px;
  border: 1px solid #dedfe0;
  margin-right: 5px;
}
.banner .banner_con .banner_box .check_box .check_r span img {
  width: 80%;
  height: 80%;
  display: none;
}
.banner .banner_con .banner_box .submit {
  width: 360px;
  height: 48px;
  margin-top: 20px;
  font-size: 17px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  background: #456fff;
}
.banner .banner_con .banner_box .register {
  width: 360px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #456fff;
  color: #456fff;
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
}
.banner .banner_con .banner_box .forget_word {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
  display: block;
}
.banner .banner_con .banner_box .other_login {
  width: 360px;
  height: 66px;
  margin-top: 30px;
}
.banner .banner_con .banner_box .other_login .other_title {
  width: 100%;
  height: 20px;
  color: #999;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  position: relative;
}
.banner .banner_con .banner_box .other_login .other_title::before {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 0;
}
.banner .banner_con .banner_box .other_login .other_title::after {
  content: "";
  width: 130px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 0;
}
.banner .banner_con .banner_box .other_login .other_iconbox {
  padding-left: 90px;
  margin-top: 15px;
  text-align: center;
}
.banner .banner_con .banner_box .other_login .other_iconbox a {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #829aff;
  font-size: 16px;
  float: left;
  color: #fff;
  margin: 0 9px;
}
.banner .banner_con .banner_box .other_login .other_iconbox a:hover {
  background: #4075ff;
}
.banner .banner_con .banner_box .other_login .other_iconbox a .iconfont {
  line-height: 26px;
  display: block;
  font-size: 22px;
  color: #fff;
}
.foot {
  width: 1200px;
  height: 58px;
  margin: 135px auto 30px;
  text-align: center;
}
.foot .service {
  width: 1200px;
  height: 19px;
}
.foot .service a:nth-child(1):hover {
  color: #4075ff;
}
.foot .service a {
  color: #666;
  font-size: 12px;
  display: inline-block;
  margin: 0 15px;
}
.foot .service a .iconfont {
  font-size: 14px;
  margin-right: 10px;
}
.foot .service a img {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.foot .copyright {
  height: 39px;
  padding: 10px 0;
  font-size: 10px;
  color: #9d9d9d;
}
